<div class="main" *ngIf="main === true">
  <form class="form" [formGroup] = "form" (ngSubmit)="nextStep()">
    <div class="form-group">
      <label for="firstName">First name:</label>
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput  id="firstName" type="text"  formControlName="firstName">
      </mat-form-field>
      <span *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
        <span *ngIf="form.get('firstName')['errors']['required']">The input cannot be empty! </span>
        <span *ngIf="form.get('firstName')['errors']['nameError']">Must start with a capital letter, no more than 15 letters long! </span>
      </span>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput  id="lastName" type="text"  formControlName="lastName">
      </mat-form-field>
      <span *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
        <span *ngIf="form.get('lastName')['errors']['required']">The input cannot be empty! </span>
        <span *ngIf="form.get('lastName')['errors']['nameError']">Must start with a capital letter, no more than 15 letters long! </span>
      </span>
    </div>

    <div class="form-group">
        <label for="userName">User name:</label>
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="userName" type="text"  formControlName="userName">
        </mat-form-field>
        <span *ngIf="form.get('userName').invalid && form.get('userName').touched">
          <span *ngIf="form.get('userName')['errors']['required']">The input cannot be empty! </span>
          <span *ngIf="form.get('userName')['errors']['minlength']">Min lenght 5! </span>
          <span *ngIf="form.get('userName')['errors']['maxlength']">Max lenght 20! </span>
        </span>
      </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput  id="phone" type="text"  formControlName="phone">
      </mat-form-field>
      <span *ngIf="form.get('phone').invalid && form.get('phone').touched">
        <span *ngIf="form.get('phone')['errors']['required']">The input cannot be empty! </span>
        <span *ngIf="form.get('phone')['errors']['phoneNumberError']">Only numbers, necessarily 10 digits! </span>
      </span>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="email" type="email"  formControlName="email">
        </mat-form-field>
      <span *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email')['errors']['required']">The email cannot be empty! </span>
        <span *ngIf="form.get('email')['errors']['emailError']">Wrong email address! </span>
      </span>
    </div>

    <div class="pass">
      <div class="pass-group col-lg-6 col-md-6">
        <label for="password1">Password:</label>
        <mat-form-field class="example-full-width inp-wrap">
            <input matInput  id="password1" type="password" [(ngModel)]="pass1"  formControlName="password1">
          </mat-form-field>
        <span *ngIf="form.get('password1').invalid && form.get('password1').touched">
          <span *ngIf="form.get('password1')['errors']['required']">The password cannot be empty! </span>
          <span *ngIf="form.get('password1')['errors']['minlength']">Min lenght 5! </span>
        </span>
      </div>

      <div class="pass-group col-lg-6  col-md-6">
        <label for="password2">Password:</label>
        <mat-form-field class="example-full-width inp-wrap">
            <input matInput  id="password2" type="password"  [(ngModel)]="pass2"  formControlName="password2">
          </mat-form-field>
        <span *ngIf="form.get('password2').invalid && form.get('password2').touched">
          <span *ngIf="form.get('password2')['errors']['required']">The password cannot be empty! </span>
          <span *ngIf="form.get('password2')['errors']['minlength']">Min lenght 5! </span>
          <span *ngIf="form.get('password2')['errors']['passCheck']">Different password! </span>
        </span>
      </div>
    </div>
    <div class="wrap">
      <button mat-raised-button color="primary" class="bg-primary" type="submit"      [disabled]="form.invalid">Next</button>
    </div>
  </form>
</div>

<div class="address" *ngIf="address === true">
  
  <form [formGroup] = "firstForm">
    <mat-form-field>
      <mat-select #qq formControlName="select" [(ngModel)]="sel1" (onChange)="select()" placeholder="Address type">
        <mat-option value="hAddress">Home address</mat-option>
        <mat-option value="sAddress">Shipping address</mat-option>
        <mat-option value="bAddress">Billing address</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group">
      <mat-form-field>
      <mat-label>Country: </mat-label>
      <mat-select  formControlName="country">
        <mat-option *ngFor="let country of countries" value="{{ country.name }}">{{ country.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="text" formControlName="city" placeholder="City">
      </mat-form-field>
      <!-- <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
          <mat-error *ngIf="city.errors.required">Postal code is reqired!</mat-error>
        </mat-error> -->
      <span *ngIf="firstForm.get('city').invalid && firstForm.get('city').touched">
        <span *ngIf="firstForm.get('city')['errors']['required']">The input cannot be empty! </span>
        <br>
        <span *ngIf="firstForm.get('city')['errors']['cityError']">Must start with a capital letter, no more than 15 letters long! </span>
      </span>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="number" formControlName="code" placeholder="Postal Code">
      </mat-form-field>
      <span *ngIf="firstForm.get('code').invalid && firstForm.get('code').touched">
        <span *ngIf="firstForm.get('code')['errors']['required']">The input cannot be empty! </span>
        <span *ngIf="firstForm.get('code')['errors']['codeError']">Only numbers, 5 characters in length! </span>
      </span>
      
    </div>
  </form>



  <h6 class="more" (click)="addNewAddress()">Add another address</h6>
  <div class="btn">
    <button mat-raised-button (click)="backToMain()">Prevlous</button>
    <button mat-raised-button color="primary" (click)="next()"  [disabled]="firstForm.invalid">Next</button>
  </div>

  <div class="info" *ngIf="info === true">
    <h4>User name: {{userInfo[0].userName}}</h4>
    <h4>First name: {{userInfo[0].firstName}}</h4>
    <h4>Last name: {{userInfo[0].lastName}}</h4>
    <h4>Your email: {{userInfo[0].email}}</h4>
    <h4>Your pasword: {{userInfo[0].password}}</h4>
    <h4>Your phone number: {{userInfo[0].phone}}</h4>

    <ul *ngFor="let address of userInfo[0].address">
      <h4>{{ address.type }}:</h4>
      <li>Country: {{ address.country }}</li>
      <li>City: {{ address.city }}</li>
      <li>Post coce: {{ address.code }}</li>
    </ul>
    <div class="btn">
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>

  </div>

</div>




