<div class="wrap" >
  <div class="info">
    <h4>User name: {{ authUser.userName }}</h4>
    <h4>First name: {{ authUser.firstName }}</h4>
    <h4>Last name: {{ authUser.lastName }}</h4>
    <h4>Your email: {{ authUser.email }}</h4>
    <h4>Your pasword: {{ authUser.password }}</h4>
    <h4>Your phone number: {{ authUser.phone }}</h4>
    <ul *ngFor="let address of authUser.address">
      <h4>{{ address.type }}:</h4>
      <li>Country: {{ address.country }}</li>
      <li>City: {{ address.city }}</li>
      <li>Post coce: {{ address.code }}</li>
    </ul>
  </div>
</div>
