<div class="wrapper">
  <h3><span routerLink="/home">Home</span> / <span routerLink="/registration">Registration</span> /</h3>
  <div class="main" *ngIf="displayMainInfoBlock === true">
    <form class="mainForm" [formGroup] = "mainForm" (ngSubmit)="next()">
      <div class="form-group">
        <label for="firstName">First name:</label>
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="firstName" type="text"  formControlName="firstName">
        </mat-form-field>
        <mat-error *ngIf="mainForm.get('firstName').invalid && (mainForm.get('firstName').touched || mainForm.get('firstName').dirty)">
          <mat-error *ngIf="mainForm.get('firstName')['errors']['required']">The input cannot be empty!</mat-error>
          <mat-error *ngIf="mainForm.get('firstName')['errors']['nameError']">Must start with a capital letter, no more than 15 letters long!</mat-error>
        </mat-error>
      </div>
      <div class="form-group">
        <label for="lastName">Last name:</label>
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="lastName" type="text"  formControlName="lastName">
        </mat-form-field>
        <mat-error *ngIf="mainForm.get('lastName').invalid && mainForm.get('lastName').touched">
          <mat-error *ngIf="mainForm.get('lastName')['errors']['required']">The input cannot be empty!</mat-error>
          <mat-error *ngIf="mainForm.get('lastName')['errors']['nameError']">Must start with a capital letter, no more than 15 letters long!</mat-error>
        </mat-error>
      </div>
      <div class="form-group">
        <label for="userName">User name:</label>
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="userName" type="text"  formControlName="userName">
        </mat-form-field>
        <mat-error *ngIf="mainForm.get('userName').invalid && mainForm.get('userName').touched">
          <mat-error *ngIf="mainForm.get('userName')['errors']['required']">The input cannot be empty!</mat-error>
          <mat-error *ngIf="mainForm.get('userName')['errors']['minlength']">Min lenght 5!</mat-error>
          <mat-error *ngIf="mainForm.get('userName')['errors']['maxlength']">Max lenght 20!</mat-error>
        </mat-error>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="phone" type="text"  formControlName="phone">
        </mat-form-field>
        <mat-error *ngIf="mainForm.get('phone').invalid && mainForm.get('phone').touched">
          <mat-error *ngIf="mainForm.get('phone')['errors']['required']">The input cannot be empty!</mat-error>
          <mat-error *ngIf="mainForm.get('phone')['errors']['phoneNumberError']">Only numbers, necessarily 10 digits!</mat-error>
        </mat-error>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput  id="email" type="email"  formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="mainForm.get('email').invalid && mainForm.get('email').touched">
          <mat-error *ngIf="mainForm.get('email')['errors']['required']">The email cannot be empty!</mat-error>
          <mat-error *ngIf="mainForm.get('email')['errors']['emailError']">Wrong email address!</mat-error>
        </mat-error>
      </div>
  
      <div class="pass">
        <div class="pass-group col-lg-6 col-md-6">
          <label for="password1">Password:</label>
          <mat-form-field class="example-full-width inp-wrap">
            <input matInput  id="password1" type="password" formControlName="password1">
          </mat-form-field>
          <mat-error *ngIf="mainForm.get('password1').invalid && mainForm.get('password1').touched">
            <mat-error *ngIf="mainForm.get('password1')['errors']['required']">The password cannot be empty!</mat-error>
            <mat-error *ngIf="mainForm.get('password1')['errors']['minlength']">Min lenght 5!</mat-error>
          </mat-error> 
        </div>
  
        <div class="pass-group col-lg-6  col-md-6">
          <label for="password2">Password:</label>
          <mat-form-field class="example-full-width inp-wrap">
            <input matInput  id="password2" type="password" formControlName="password">
          </mat-form-field>
          <mat-error *ngIf="mainForm.get('password').invalid && mainForm.get('password').touched">
            <mat-error *ngIf="mainForm.get('password')['errors']['required']">The password cannot be empty!</mat-error>
            <mat-error *ngIf="mainForm.get('password')['errors']['minlength']">Min lenght 5!</mat-error>
            <mat-error *ngIf="mainForm.get('password')['errors']['passCheck']">Different password!</mat-error>
          </mat-error>  
        </div>
      </div>
      <div class="wrap">
        <button mat-raised-button color="primary" class="bg-primary" type="submit"      [disabled]="mainForm.invalid">Next</button>
      </div>
    </form>
  </div>
  
  <div class="address" *ngIf="displayAddressInfoBlock === true">
    <form [formGroup] = "addressForm">
      <mat-form-field>
        <mat-select #qq formControlName="type" (onChange)="select()" placeholder="Address type">
          <mat-option value="Home address">Home address</mat-option>
          <mat-option value="Shipping address">Shipping address</mat-option>
          <mat-option value="Billing address">Billing address</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-group">
        <mat-form-field>
        <mat-label>Country: </mat-label>
        <mat-select  formControlName="country">
          <mat-option *ngFor="let country of countries" value="{{ country.name }}">{{ country.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput type="text" formControlName="city" placeholder="City">
        </mat-form-field>
        <mat-error *ngIf="addressForm.get('city').invalid && addressForm.get('city').touched">
            <mat-error *ngIf="addressForm.get('city')['errors']['required']">Postal code is reqired!</mat-error>
            <mat-error *ngIf="addressForm.get('city')['errors']['cityError']">Must start with a capital letter, no more than 15 letters long!</mat-error>
        </mat-error>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width inp-wrap">
          <input matInput type="number" formControlName="code" placeholder="Postal Code">
        </mat-form-field>
        <mat-error *ngIf="addressForm.get('code').invalid && addressForm.get('code').touched">
          <mat-error *ngIf="addressForm.get('code')['errors']['required']">The input cannot be empty!</mat-error>
          <mat-error *ngIf="addressForm.get('code')['errors']['codeError']">Only numbers, 5 characters in length!</mat-error>
      </mat-error>    
      </div>
    </form>
    <div class="btn">
      <button mat-raised-button (click)="backToMain()">Prevlous</button>
      <button mat-raised-button color="primary" (click)="newUserPreview()"  [disabled]="addressForm.invalid">Preview</button>
    </div>
  </div>
  <div class="info" *ngIf="displayPreviewModal === true">
    <h4>User name: {{newUser.userName}}</h4>
    <h4>First name: {{newUser.firstName}}</h4>
    <h4>Last name: {{newUser.lastName}}</h4>
    <h4>Your email: {{newUser.email}}</h4>
    <h4>Your pasword: {{newUser.password}}</h4>
    <h4>Your phone number: {{newUser.phone}}</h4>
    <ul *ngFor="let address of newUser.address">
      <h4>{{ address.type }}:</h4>
      <li>Country: {{ address.country }}</li>
      <li>City: {{ address.city }}</li>
      <li>Post coce: {{ address.code }}</li>
    </ul>
    <h6 class="more" (click)="addNewAddress()">Add another address</h6>
    <div class="btn">
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</div>




