

<div class="block">
  <div class="form-wrap1">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="text"  placeholder="First name:" #firstName [(ngModel)]="firstNameSearch">
      </mat-form-field>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="text"  placeholder="Last name:" #lastName [(ngModel)]="lastNameSearch"> 
      </mat-form-field>
    </div>
  </div>
  <div class="form-wrap2">
    <div class="form-group col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="text"  placeholder="User name:" #userName [(ngModel)]="userNameSearch">
      </mat-form-field>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="text"  placeholder="Email:" #email [(ngModel)]="emailSearch">
      </mat-form-field>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="example-full-width inp-wrap">
        <input matInput type="text"  placeholder="Phone:" #phone [(ngModel)]="phoneSearch">
      </mat-form-field>
    </div>
  </div>
  <div class="wrap">
    <button mat-raised-button color="basic" (click)="remove()">Clear</button> 
    <button mat-raised-button color="primary" (click)="add( firstName.value, lastName.value, userName.value, email.value, phone.value, table, secondTable )">Search</button> 
  </div>
</div>

<table  id="main"  mat-table #table [dataSource]="mainInfo[0]" class="mat-elevation-z8" *ngIf="count !== 0">
  <ng-container matColumnDef="first-name">
    <th mat-header-cell *matHeaderCellDef>First name:</th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">{{element.firstName}}</td>
  </ng-container>
  <ng-container matColumnDef="last-name">
    <th mat-header-cell *matHeaderCellDef>Last name:</th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">{{element.lastName}}</td>
  </ng-container>
  <ng-container matColumnDef="user-name">
    <th mat-header-cell *matHeaderCellDef>User name:</th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">{{element.userName}}</td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone:</th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">{{element.phone}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email:</th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">
      <button mat-raised-button color="basic" (click)="openMainModal(element)" >update</button> 
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" (click)="rowClick(element)">
     <button mat-raised-button color="basic" (click)="openAskModal(element)">delete</button> 
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<table mat-table #secondTable [dataSource]="currentUser[0].address"  id="hTable" class="mat-elevation-z8"  *ngIf="addressCount !== 0 || currentUser === []">
  <ng-container matColumnDef="first-name">
    <th mat-header-cell *matHeaderCellDef>Address type:</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}:</td>
  </ng-container>
  <ng-container matColumnDef="last-name">
    <th mat-header-cell *matHeaderCellDef>Country:</th>
    <td mat-cell *matCellDef="let element">{{element.country}}</td>
  </ng-container>
  <ng-container matColumnDef="user-name">
    <th mat-header-cell *matHeaderCellDef>City:</th>
    <td mat-cell *matCellDef="let element">{{element.city}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Post code:</th>
    <td mat-cell *matCellDef="let element">{{element.code}}</td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="basic" (click)="openAddressModal(element)">update</button> 
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
     <button mat-raised-button color="basic" (click)="delAddressModal(element)" >delete</button> 
    </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button id="newAddress" *ngIf="addressCount !== 0" mat-raised-button color="basic" (click)="newAddressModal()">add new address</button> 








